table {
  width: 100%;

  & + app-stops {
    margin-top: 2rem;
  }

  .mat-header-row {
    height: 0;
  }
}

app-stops {
  display: block;

  & + & {
    margin-top: 2rem;
  }
}

.mat-column-actions {
  width: 1px;
  white-space: nowrap;
}

h2 {
  margin-bottom: 1rem;

  button {
    vertical-align: middle;
  }
}

.empty {
  margin: .5rem 0 0;
}
